USE [master]
GO
/****** Object:  Database [TheIndianMarket]    Script Date: 2020-03-28 11:10:11 PM ******/
CREATE DATABASE [TheIndianMarket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TheIndianMarket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TheIndianMarket.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TheIndianMarket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TheIndianMarket_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TheIndianMarket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TheIndianMarket]
GO
USE [TheIndianMarket]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](255) NOT NULL,
	[PricePerCostUnit] [float] NOT NULL,
	[CostUnit] [varchar](255) NOT NULL,
	[DepartmentName] [varchar](255) NOT NULL,
	[QuantityInStock] [int] NULL,
	[Brand] [varchar](255) NULL,
	[ProductionDate] [varchar](255) NULL,
	[BestBeforeDate] [varchar](255) NULL,
	[PLU] [int] NULL,
	[UPC] [bigint] NULL,
	[Organic] [int] NULL,
	[Cut] [varchar](255) NULL,
	[Animal] [varchar](255) NULL,
	[Description] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LowStock]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LowStock] AS
SELECT ProductID, ProductName, DepartmentName, QuantityInStock
FROM Products
WHERE QuantityInStock < 7;
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AisleContains]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AisleContains](
	[AisleNumber] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AisleNumber] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aisles]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aisles](
	[AisleNumber] [int] NOT NULL,
	[AisleName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AisleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[productId] [int] NOT NULL,
 CONSTRAINT [PK_cart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [varchar](255) NULL,
	[CustomerPhone] [varchar](255) NULL,
	[CustomerEmail] [varchar](255) NULL,
	[Password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[EmployeeName] [varchar](255) NOT NULL,
	[DepartmentName] [varchar](255) NULL,
	[Position] [varchar](255) NULL,
	[sinumber] [bigint] NOT NULL,
	[EmployeeAddress] [varchar](255) NULL,
	[EmployeePhone] [varchar](255) NULL,
	[Wage] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProvidedBy]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProvidedBy](
	[ProductID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProvidesDelivery]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProvidesDelivery](
	[DeliveryID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases](
	[TransactionID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[CustomerID] [int] NULL,
	[PurchaseDate] [varchar](255) NULL,
	[Total] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceivedFrom]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceivedFrom](
	[ProductID] [int] NOT NULL,
	[DeliveryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[DeliveryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2020-03-28 11:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] NOT NULL,
	[SupplierName] [varchar](255) NOT NULL,
	[SupplierAddress] [varchar](255) NULL,
	[SupplierPhone] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([AdminID], [Name], [Password]) VALUES (1, N'dhara', N'dhara123')
INSERT [dbo].[Admin] ([AdminID], [Name], [Password]) VALUES (2, N'dhara@gmail.com', N'dhara123')
INSERT [dbo].[Admin] ([AdminID], [Name], [Password]) VALUES (3, N'vivekshah@gmail.com', N'vivek')
INSERT [dbo].[AisleContains] ([AisleNumber], [ProductID]) VALUES (1, 1)
INSERT [dbo].[AisleContains] ([AisleNumber], [ProductID]) VALUES (1, 2)
INSERT [dbo].[AisleContains] ([AisleNumber], [ProductID]) VALUES (1, 3)
GO
INSERT [dbo].[Aisles] ([AisleNumber], [AisleName]) VALUES (1, N'Fruits')
INSERT [dbo].[Aisles] ([AisleNumber], [AisleName]) VALUES (2, N'Vegetables')
INSERT [dbo].[Aisles] ([AisleNumber], [AisleName]) VALUES (3, N'Dairy')
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [CustomerID], [productId]) VALUES (2, 31, 2)
INSERT [dbo].[cart] ([id], [CustomerID], [productId]) VALUES (3, 31, 3)
INSERT [dbo].[cart] ([id], [CustomerID], [productId]) VALUES (4, 31, 1)
SET IDENTITY_INSERT [dbo].[cart] OFF
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerPhone], [CustomerEmail], [Password]) VALUES (1, N'Harry Potter', N'000 731 1980', N'theboywholived@gmail.com', N'abc')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerPhone], [CustomerEmail], [Password]) VALUES (2, N'Lily Potter', N'000 731 1980', N'lpotter@gmail.com', N'abc')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerPhone], [CustomerEmail], [Password]) VALUES (3, N'James Potter', N'000 731 1980', N'jpotter@gmail.com', N'abc')
INSERT [dbo].[Departments] ([DepartmentName]) VALUES (N'Baked Goods')
INSERT [dbo].[Departments] ([DepartmentName]) VALUES (N'Eggs and Dairy')
INSERT [dbo].[Departments] ([DepartmentName]) VALUES (N'Frozen')
INSERT [dbo].[Employees] ([EmployeeID], [EmployeeName], [DepartmentName], [Position], [sinumber], [EmployeeAddress], [EmployeePhone], [Wage]) VALUES (1, N'Ben Ling', N'Eggs and Dairy', N'Stocker', 948398198, N'2366 Main Mall, Vancouver, BC VH3 0A2', N'604 822 3061', 0)
INSERT [dbo].[Employees] ([EmployeeID], [EmployeeName], [DepartmentName], [Position], [sinumber], [EmployeeAddress], [EmployeePhone], [Wage]) VALUES (2, N'Daenerys Targaryen', N'Eggs and Dairy', N'Manager', 7685437775, N'123 House Targaryen, Dragonstone, BC VK8 2H9', N'777 777 7777', 0)
INSERT [dbo].[Employees] ([EmployeeID], [EmployeeName], [DepartmentName], [Position], [sinumber], [EmployeeAddress], [EmployeePhone], [Wage]) VALUES (3, N'Jon Snow', N'Meat and Seafood', N'Manager', 901982091, N'224 Winter Is Coming, North, BC, VA7 4K8', N'783 309 1923', 0)
GO
INSERT [dbo].[ProvidedBy] ([ProductID], [SupplierID]) VALUES (100, 1)
INSERT [dbo].[ProvidedBy] ([ProductID], [SupplierID]) VALUES (103, 1)
INSERT [dbo].[ProvidedBy] ([ProductID], [SupplierID]) VALUES (105, 1)
GO
INSERT [dbo].[ProvidesDelivery] ([DeliveryID], [SupplierID]) VALUES (1, 1)
INSERT [dbo].[ProvidesDelivery] ([DeliveryID], [SupplierID]) VALUES (2, 1)
INSERT [dbo].[ProvidesDelivery] ([DeliveryID], [SupplierID]) VALUES (3, 1)
INSERT [dbo].[Purchases] ([TransactionID], [ProductID], [Quantity], [CustomerID], [PurchaseDate], [Total]) VALUES (1, 1, 1, 1, N'11-01-2017', 1.59)
INSERT [dbo].[Purchases] ([TransactionID], [ProductID], [Quantity], [CustomerID], [PurchaseDate], [Total]) VALUES (1, 17, 8, 1, N'11-01-2017', 10.32)
INSERT [dbo].[Purchases] ([TransactionID], [ProductID], [Quantity], [CustomerID], [PurchaseDate], [Total]) VALUES (1, 101, 3, 1, N'11-01-2017', 6.87)
INSERT [dbo].[ReceivedFrom] ([ProductID], [DeliveryID]) VALUES (1, 25)
INSERT [dbo].[ReceivedFrom] ([ProductID], [DeliveryID]) VALUES (2, 26)
INSERT [dbo].[ReceivedFrom] ([ProductID], [DeliveryID]) VALUES (3, 31)
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [SupplierAddress], [SupplierPhone]) VALUES (1, N'Saputo Dairy Products Canada', N'6800 Lougheed Highway, Burnaby, BC V5A 1W2', N'1 800 672 8866')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [SupplierAddress], [SupplierPhone]) VALUES (2, N'Gordon Food Services', N'1700 Cliveden Avenue, Delta, BC V3M 6T2', N'800 663 1695')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [SupplierAddress], [SupplierPhone]) VALUES (3, N'Yen Bros. Food Service', N'1988 Vernon Drive, Vancouver, BC V6A 3Y6', N'604 255 6522')
ALTER TABLE [dbo].[AisleContains]  WITH CHECK ADD FOREIGN KEY([AisleNumber])
REFERENCES [dbo].[Aisles] ([AisleNumber])
GO
ALTER TABLE [dbo].[AisleContains]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([DepartmentName])
REFERENCES [dbo].[Departments] ([DepartmentName])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([DepartmentName])
REFERENCES [dbo].[Departments] ([DepartmentName])
GO
ALTER TABLE [dbo].[ProvidedBy]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProvidedBy]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[ProvidesDelivery]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ReceivedFrom]  WITH CHECK ADD FOREIGN KEY([DeliveryID])
REFERENCES [dbo].[ProvidesDelivery] ([DeliveryID])
GO
ALTER TABLE [dbo].[ReceivedFrom]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
USE [master]
GO
